<% @authors.each do |author| %>
  <p>
    <%= author.inspect %>
    <%= link_to('edit', edit_author_path(author)) %>
    <%= link_to('show', author_path(author)) %>
    <%= link_to('delete', author_path(author), method: :delete, data: {confirm: 'Are you sure?'}) %>
  </p>
<% end %>