<% @users.each do |user| %>
  <p>
    <%= user.inspect %>
    <%= link_to('edit', edit_user_path(user)) %>
    <%= link_to('show', user_path(user)) %>
    <%= link_to('delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'}) %>
  </p>
<% end %>