<% @libraries.each do |library| %>
  <p>
    <%= library.inspect %>
    <%= link_to('edit', edit_library_path(library)) %>
    <%= link_to('show', library_path(library)) %>
    <%= link_to('delete', library_path(library), method: :delete, data: {confirm: 'Are you sure?'}) %>
  </p>
<% end %>