<% @addresses.each do |address| %>
  <p>
    <%= address.inspect %>
    <%= link_to('edit', edit_address_path(address)) %>
    <%= link_to('show', address_path(address)) %>
    <%= link_to('delete', address_path(address), method: :delete, data: {confirm: 'Are you sure?'}) %>
  </p>
<% end %>